.country {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
}
/* all  device responsive code  */
@media only screen and (min-width: 600px) {
  .country {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .country {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .country {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
